data/readme.txt filter=lfs diff=lfs merge=lfs -text
data/scales_and_slopes.csv filter=lfs diff=lfs merge=lfs -text
data/swissprot_annotations.tar.gz filter=lfs diff=lfs merge=lfs -text
data/uniprot-filtered-reviewed_yes.tab filter=lfs diff=lfs merge=lfs -text
data/upsetr_overlap_results_HPC filter=lfs diff=lfs merge=lfs -text
data/aa_count.csv filter=lfs diff=lfs merge=lfs -text
data/pfam_annotations.tab filter=lfs diff=lfs merge=lfs -text
data/uniprot_sprot.dat.gz filter=lfs diff=lfs merge=lfs -text
data/uniprot_sprot.fasta.gz filter=lfs diff=lfs merge=lfs -text
data/listinputAA.csv filter=lfs diff=lfs merge=lfs -text
data/swissprot_annotations.tsv filter=lfs diff=lfs merge=lfs -text
data/listinputAA_subset.csv filter=lfs diff=lfs merge=lfs -text
data/Pfam-A.clans.tsv filter=lfs diff=lfs merge=lfs -text
data/species_id_virushost2lineage.csv filter=lfs diff=lfs merge=lfs -text
data/tr_all_overlap.csv filter=lfs diff=lfs merge=lfs -text
data/tr_all_overlap_par_subset.csv filter=lfs diff=lfs merge=lfs -text
data/categories.dmp filter=lfs diff=lfs merge=lfs -text
data/categories_taxcat_readme.txt filter=lfs diff=lfs merge=lfs -text
data/pdb_pfam_mapping.txt filter=lfs diff=lfs merge=lfs -text
data/pfam_annotations_with_clans.tab filter=lfs diff=lfs merge=lfs -text
